@page
@model ProiectMediiTry5.Pages.Jobs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Job.Titlu" class="control-label"></label>
                <input asp-for="Job.Titlu" class="form-control" />
                <span asp-validation-for="Job.Titlu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Descriere" class="control-label"></label>
                <input asp-for="Job.Descriere" class="form-control" />
                <span asp-validation-for="Job.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.TermenLimita" class="control-label"></label>
                <input asp-for="Job.TermenLimita" class="form-control" />
                <span asp-validation-for="Job.TermenLimita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.ProjectID" class="control-label">Project Name</label>
                <select asp-for="Job.ProjectID" class="form-control" asp-items="ViewBag.ProjectID">
                </select>
                <span asp-validation-for="Job.ProjectID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Job.Finalizat" /> @Html.DisplayNameFor(model => model.Job.Finalizat)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
